.card 
  .card-header.d-flex
    .bi.bi-door-open-fill
    = link_to room.title, hostel_room_path(@hostel, room)
  .card-body 
    = room.short_description
  .card-footer.d-flex
    .col-md-4
      = number_to_currency(room.price)
    .col-md-4
      .bi.bi-people-fill.text-center
        = room.capacity
    .col-md-4
      .text-end
        = 'size:'
        = room.size
        = 'm'
    
  .card-footer.d-flex
    .col-md-4
      = 'beds:'
      = room.bed
    
    .col-md-4
      .text-success.text-center.bi.bi-image-alt
        %b.text-dark
          = room.view
    .col-md-4
      .text-end.bi.bi-building
        = room.hostel.name
  .card-footer.d-flex 
    - if room.book && (DateTime.current.to_date < room.check_out)
      .badge.bg-danger
        = 'booked: from'
        = room.check_in.strftime('%d-%b-%Y')
        = 'to'
        = room.check_out.strftime('%d-%b-%Y')
    - else
      = render 'rooms/book', room: room
